h2 {
  @include absolute(10px,20px,10px,10px);
  @extend .panel-font;
  color: $color-black;
}

 .stotts h2 {
  color: $color-white;
  @include absolute(50px,0px,0px,50px);
  width: 100px;
  height: 80px;
  font-size: 8vmin;
}

.panel-font {
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  @include large {
    font-size: 50px;
  }
}

.nurkic h2, .crabbe h2 {
  color: darken($color-red, $amount);
}

.moe h2, .cj h2, .et h2, .aminu h2 {
  color: darken($color-white, $amount);
}

p {
  @include absolute(60px, 20px, 0px, 10px);
  display: none;
  font-family: 'Anton', sans-serif;
  font-size: 12px;
  margin-top: 5px;
  @include large {
  font-size: 18px;
  margin-top: 20px;
  }
}

.stotts p {
  @include absolute(170px, 20px, 30px, 60px);
  display: none;
  font-family: 'Anton', sans-serif;
  font-size: 3vw;
  margin-top: 10px;
}
