.blazer-logo {
  @include size(50px);
  margin-top: -5px;
  @include large {
    @include size(100px);
    margin-top: 10px;
    }
}
.large-logo {
  height: 180px;
  width: 450px;
  position: absolute;
  left: 250px;
  top: -10px;
}
.navbar {
  position: relative;
  margin: 0;
  height: 70px;
  background-color: black;
  border-radius: 5px;
  @include large {
    height: 150px;
  }
}

.navbar-toggle {
border: none;
margin-top: 15px;
& .icon-bar {
  padding: 1.5px;
  width: 21px;
  }
}
