.panel {
  width: 100%;
  height: 20%;
  margin-top: 5vh;
  position: relative;
  border-radius: 20px;
  background-color: black;
  border: 5px solid black;
  transition: all .2s ease-in-out;
  }

 .panel img {
   width: 100%;
   border-radius: 20px;
   @include large {
     height: 45vh;
   }
 }

 .panel:hover {
   transform: scale(1.1);
 }

 .stotts img {
   height: 65vh;
 }

//PANEL HOVER P
.stotts:hover {
  & p {
    display: inline-block;
    color: $color-white;
  }
}.dame:hover {
  & p {
    display: inline-block;
    color: black;
  }
}
.cj:hover, .aminu:hover {
  & p {
    display: inline-block;
    color: darken($color-white, $amount);
  }
}
.nurkic:hover, .crabbe:hover {
  & p {
    display: inline-block;
    color: darken($color-red, $amount);
  }
}
.moe:hover, .et:hover {
  & p {
    display: inline-block;
    color: darken($color-white, $amount);
  }
}
.noah:hover {
  & p {
    display: inline-block;
    color: black;
  }
}
