#banner {
  width: 100%;
  margin-top: 5vh;
  border-radius: 10px;
}
.whos-next {
  border: 5px solid black;
  transition: all .2s ease-in-out;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3vh;
  & img {
    width: 100%;
  }
  & h1 {
    @include absolute(60px,30px,30px,30px);
    color: $color-white;
    font-size: 10vw;
    display: none;
    font-family: 'Anton', sans-serif;
  }
}

.whos-next:hover {
  transform: scale(1.1);
  & h1 {
    display: inline-block;
    color: lighten($color-white, $amount);
  }
}
